@model IEnumerable<ProductoModel>

@{
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="card mb-4 mt-4">

    @if (ViewBag.Mensaje != null)
    {
        <div class="alert alert-primary text-center">
            @ViewBag.Mensaje
        </div>
    }

    <h4 class="card-header text-center">Productos</h4>
    <div class="card-body">
        
        <table class="table mb-4">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Estado</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ConsecutivoProducto</td>
                        <td>@item.Nombre</td>
                        <td>@item.Precio.ToString("N2")</td>
                        <td>@(item.Estado ? "Activo" : "Inactivo")</td>
                        <td>@item.Imagen</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>



