@model IEnumerable<ProductoModel>

@{
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="card mb-4 mt-4">

    @if (ViewBag.Mensaje != null)
    {
        <div class="alert alert-primary text-center">
            @ViewBag.Mensaje
        </div>
    }

    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="m-0 flex-grow-1 text-center">
            <a asp-action="Principal" asp-controller="Home"> Tiendas </a> > @Model.FirstOrDefault()!.NombreComercial
        </h4>
    </div>

    <div class="card-body">

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 mb-4">
                    <div class="card tienda-card h-100 p-3 text-center">

                        <img src="@($"{item.Imagen}{item.ConsecutivoProducto}.png")"
                             alt="@item.Nombre"
                             class="img-fluid mb-3" style="object-fit:contain;" />

                        <h6 class="card-title">Producto: @item.Nombre</h6>
                        <h6 class="card-title">Detalle: @item.Descripcion</h6>
                        <h6 class="card-title">Precio: @item.Precio.ToString("N2")</h6>


                    </div>
                </div>
            }
        </div>

    </div>
</div>
